h3 {
  color: #6868ec;
}
@mixin stuff {
  color: $border-color-red;
}
.c-button {
  @include stuff;
}
.form-inline {
  margin: 1.5%;
  border: 1.5px solid $border-color-red;
  height: 513px;
  width: 273px;
  margin-left: 624px;
  padding-left: 38px;
  padding-top: 14px;
}
input {
  display: inline-flex;
  width: 196.5px;
  outline: none;
  border: solid 1px $primaryColor;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.Dropdown-root.form-control {
  width: 84%;
}
.Dropdown-control {
  width: 84%;
}
.sign-in-form {
  margin-left: 820px;
}
.Dropdown-menu {
  background-color: white;
  border: 1px solid $primaryColor;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  margin-left: -6%;
}
.popup {
  position: absolute;
  border: 1.5px solid red;
  padding: 13px;
  margin-left: 20rem;
  margin-top: -100rem;
  background-color: gainsboro;
}
.sign-in-drop-down .Dropdown-control {
  width: 196.5px;
  margin-left: -13px;
  margin-top: -9px;
}
.sign-in-drop-down .Dropdown-menu {
  width: 196px;
  margin-left: -13px;
}
.sign-in-drop-down .Dropdown-control{
  width:196.5px;
  margin-left: -13px;
  margin-top:-9px;
}

.sign-in-drop-down .Dropdown-menu{
  width:196px;
  margin-left: -13px;
}
